{%extends 'base.html'%}

{%block body%}

<!-- Hintergrund Startseite -->

<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<p id='head1' class='header'>Datenbank für Sportgruppen, Sportler & Sportarten</p>
<p id='head2' class='header'>Sportgruppen </p>
<p id='head3' class='header'>Sportler </p>
<p id='head4' class='header'>Sportarten  </p>
<p id='head5' class='header'>Katharina Gruber, 3BHWII</p>

<!-- Knöpfe Startseite -->

<div class="nav-link"> 
  <a href="/sportgruppe" class="start start1">Sportgruppen</a>
  <a href="/sportler" class="start start2">Sportler</a>
  <a href="/sportart" class="start start3">Sportarten</a>
</div>

<!-- Hintergrund Startseite -->

  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>

  <!-- Zusatzinfos Startseite -->

<div class="mt-4 p-5 bg-light text-secondary rounded">
  <h6>Sportgruppen / Sportler / Sportarten - Datenbank </h6>
  <h8>Katharina Gruber, 3BHWII</h8>
</div>



{%endblock%}